body{
    background-image: url("http://i.imgur.com/b9r5sEL.jpg");
    margin: 0;
}

#keyArea{
    display: flex;
    flex: 1; 
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.key{
    border: solid 5px black;
    background-color:  rgba(0, 0, 0, 0.73);
    border-radius: 5px;
    color: white;
    width: 10rem;
    margin:10px;
    text-align: center;
    padding: 1rem 0.5rem;
}

.key kbd{
    display: block;
    font-size: 4rem;
}

.key span{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}